h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 48px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

a:hover {
    color: greenyellow
}

.outer-list > li {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;

    color: gray;
}

li:focus {
    color: black;
    text-decoration: underline;
}

.inner-list > li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    color: green;
    margin-bottom: 0px;
}