* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

p {
    font-style: 'Poppins';
    font-size: .85vw;
    text-align: center;
    line-height: 140%;
}

h1 {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: .85vw;
    text-align: center;
    line-height: 140%;
}

h2 {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: .85vw;
    text-align: center;
    line-height: 140%;
}

.list-item-1 p {
    line-height: 50%;
}

h3 {
    font-style: 'Poppins';
    font-size: .85vw;
    text-align: center;
    line-height: 50%;
    padding-top: 2%;
}

.outer-list {
    margin: 0;
    grid-area: header;

    align-items: inherit;

    padding: 20%;
    display: grid;

    text-align: center;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    grid-area: center;

    position: center;
    background-image: url("BakingTray.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    background-color: white;
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 10%;
}

li p {
    visibility: hidden;
}

li h3 {
    visibility: hidden;
}

li:hover h3 {
    visibility: visible;
}

li h2 {
    color: white;
}

li:hover h2 {
    color: black;
}

li h1 {
    visibility: hidden;
}

li:hover p {
    visibility: visible;
}

li:hover h1 {
    visibility: visible;
}

.list-item-1 {
    background-image: url("1.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-1:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}

.list-item-2 {
    background-image: url("2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-2:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}

.list-item-3 {
    background-image: url("3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-3:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}

.list-item-4 {
    background-image: url("4.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-4:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}

.list-item-5 {
    background-image: url("5.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-5:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}

.list-item-6 {
    background-image: url("6.png");
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.list-item-6:hover {
    background-image: linear-gradient(#FFFFFF,#FFFFFF)
}



